* {
  font-family: Pretendard, 'Noto Sans KR', sans-serif;
}


/* background */
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #000;
}

.text-container {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1 {
  margin: 0;
  font-size: 150px;
  color: rgba(225, 225, 225, .01);
  background-image: url("https://images.unsplash.com/photo-1627325071486-0b1e3083294a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes animate {

  0%,
  100% {
    background-position: left top;
  }

  25% {
    background-position: right bottom;
  }

  50% {
    background-position: left bottom;
  }

  75% {
    background-position: right top;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* arrow button */
body {
  background-color: #111;
}

.arrow {
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: static;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 40px;
}

.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 4px;
  left: 40px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.button {
  display: flex;
  justify-content: center;
  margin: 0px 80px;
}

.button h2 {

  font-size: 70px;
  color: #666;
  font-weight: 300;
  position: absolute;
  left: -80%;
  top: -32%;
}
.arrow:hover h2 {
  color: #f1f1f1;
  transition: all 0.15s;
}